<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="WeiXinSection" type="Qhyhgf.WeiXin.Qy.Api.Config.WeiXinSection, Qhyhgf.WeiXin.Qy.api"/>
  </configSections>
  <!--微信配置信息-->
  <WeiXinSection CorpID="wx372c5bf3a85c603b">
    <add AgentID="0"  Token="gqOBM0Bcu22U1cp" EncodingAESKey="5MOjHcvfSOLxqcmHP0O546w9Hlxtd7Y1rgIKFNP5G2d" Secret="Dc-qL-quALvm9M6UT9V1VxFrTHRE8b114Yvde33C3tv15pxdk_pH33pms8MjNepj" Name="OA助手"/>
    <add AgentID="1"  Token="gqOBM0Bcu22U1cp" EncodingAESKey="5MOjHcvfSOLxqcmHP0O546w9Hlxtd7Y1rgIKFNP5G2d" Secret="0CrtI7sroSus09zlw4e0WdLwXRxTAd7wAw6lMD63DhB5JbtY5fbpAZqL9HVpQR_3" Name="测试2"/>
    <add AgentID="2"  Token="gqOBM0Bcu22U1cp" EncodingAESKey="5MOjHcvfSOLxqcmHP0O546w9Hlxtd7Y1rgIKFNP5G2d" Secret="0CrtI7sroSus09zlw4e0WdLwXRxTAd7wAw6lMD63DhB5JbtY5fbpAZqL9HVpQR_3" Name="测试3"/>
  </WeiXinSection>
</configuration>